// font-family
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// colors
$primary: #1e4565;
$blue: #3d75a5;
$secondary-blue: #6694ba;
$text-color: #e2eff6;
$orange: #ff9737;

// general
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary;
  font-family: "Open Sans", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// landing page
.landing-content {
  p {
    color: $text-color;
    text-transform: capitalize;
    font-style: italic;
    font-size: 2rem;
    font-weight: 600;
  }
  img {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }
}

.landing-start-btn {
  a {
    background-color: $orange;
    color: $text-color;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 0.8px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  :hover {
    background-color: $secondary-blue;
    transition: 0.3s ease-in;
  }
}

// signup page
.frame {
  background-color: $secondary-blue;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.frame-header {
  h3 {
    color: $text-color;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.7px;
  }
}

form {
  padding: 2% 5% 5% 5%;
  button {
    background-color: $orange;
    color: $text-color;
    width: 100%;
    padding: 2% 0%;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    outline: none;
  }
}

.form-ctrl {
  position: relative;
  margin-bottom: 2%;
  input {
    color: #000;
    caret-color: $blue;
    display: block;
    width: 100%;
    padding: 1.8%;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    outline: none;
  }
  i {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.3rem;
    visibility: hidden;
  }
  small {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.7px;
    visibility: hidden;
  }
}

.form-ctrl.success {
  input {
    border-radius: 3px;
    border: 2px solid #009432 !important;
  }
  .fa-check {
    visibility: visible;
    color: #009432;
  }
  small {
    visibility: visible;
    color: #009432;
  }
}

.form-ctrl.error {
  input {
    border-radius: 3px;
    border: 2px solid #c0392b !important;
  }
  .fa-circle-exclamation {
    visibility: visible;
    color: #c0392b;
  }
  small {
    visibility: visible;
    color: #c0392b;
  }
}

// dashboard page
// sidebar
.sidebar {
  background-color: #fff;
  padding: 2%;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      background-color: $primary;
      cursor: pointer;
      padding: 4%;
      margin-bottom: 4%;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      a {
        color: $text-color;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.7px;
        margin-left: 2%;
      }
    }
  }
}

// profile content
.profile-content {
  height: 100vh;
}

.profile-header {
  background-color: #fff;
  padding: 2.5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  h3 {
    color: $blue;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: right;
  }
}

.amount-frame {
  .frame-one {
    background-color: #fff;
    min-height: 180px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    span {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 2.5rem;
    }
    h2 {
      display: inline-block;
      font-size: 3rem;
    }
    button {
      float: right;
      background-color: #27ae60;
      color: #fff;
      border: none;
      outline: none;
      padding: 2% 6%;
      margin-top: 8%;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      border-radius: 3px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
  .frame-two {
    background-color: #fff;
    min-height: 180px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    span {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 2.5rem;
    }
    h2 {
      display: inline-block;
      font-size: 3rem;
    }
    button {
      float: right;
      background-color: #d35400;
      color: #fff;
      border: none;
      outline: none;
      padding: 2% 6%;
      margin-top: 8%;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      border-radius: 3px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
  .frame-three {
    background-color: #fff;
    min-height: 180px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    span {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    label {
      color: #c23616;
      display: block;
      font-size: 0.9rem;
      font-style: italic;
      text-transform: uppercase;
      text-align: right;
      font-weight: 600;
      margin-top: 5%;
    }
    i {
      font-size: 2.5rem;
    }
    h2 {
      display: inline-block;
      font-size: 3rem;
    }
  }
}
